{{define "header" -}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="editor" content="vim&emacs&vscode">
<meta name="docker" content="true">
<meta name="backend" content="go">
<meta name="branch" content="{{$.Meta.B}}">
<meta name="version" content="{{$.Meta.V}}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="shortcut icon" href="/assets/favicon.ico">

<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/roboto-fontface@0.10.0/css/roboto/roboto-fontface.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/material-icons@0.3.1/iconfont/material-icons.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/material-design-lite@1.3.0/material.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/longkai/xiaolongtongxue.com@v3.3.1/assets/layouts/styles.css">
{{- end}}

{{define "footer" -}}
<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    {{if $.Meta.Mail -}}
    <button href="mailto:{{$.Meta.Mail}}" class="mdl-mini-footer--social-btn social-btn social-btn__gmail">
      <span class="visuallyhidden">Gmail</span>
    </button>
    {{- end}}
    {{if $.Meta.Instagram -}}
    <button href="{{$.Meta.Instagram}}" class="mdl-mini-footer--social-btn social-btn social-btn__instagram">
      <span class="visuallyhidden">Instagram</span>
    </button>
    {{- end}}
    {{if $.Meta.Twitter -}}
    <button href="{{$.Meta.Twitter}}" class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
      <span class="visuallyhidden">Twitter</span>
    </button>
    {{- end}}
    {{if $.Meta.Medium -}}
    <button href="{{$.Meta.Medium}}" class="mdl-mini-footer--social-btn social-btn social-btn__medium">
      <span class="visuallyhidden">Medium</span>
    </button>
    {{- end}}
    {{if $.Meta.Github -}}
    <button href="{{$.Meta.Github}}" class="mdl-mini-footer--social-btn social-btn social-btn__github">
      <span class="visuallyhidden">Github</span>
    </button>
    {{- end}}
    {{if $.Meta.Stackoverflow -}}
    <button href="{{.Meta.Stackoverflow}}" class="mdl-mini-footer--social-btn social-btn social-btn__stackoverflow">
      <span class="visuallyhidden">Stackoverflow</span>
    </button>
    {{- end}}
  </div>
</footer>
<div id="toast" aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button type="button" class="mdl-snackbar__action"></button>
</div>
{{- end}}

{{define "script" -}}
<script src="//cdn.jsdelivr.net/npm/material-design-lite@1.3.0/dist/material.min.js"></script>
<script src="//cdn.jsdelivr.net/gh/longkai/xiaolongtongxue.com@v3.3.1/assets/scripts/xiaolongtongxue.js"></script>
{{- end}}

{{define "bg" -}}
{{if $ -}}
{{$ | bg}}
{{- else -}}
//cdn.jsdelivr.net/gh/longkai/xiaolongtongxue.com//assets/images/default.jpg
{{- end}}
{{- end}}

{{define "GA" -}}
{{if $ -}}
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', '{{$}}', 'auto');
ga('send', 'pageview');
</script>
{{- end}}
{{- end}}
